body {
  margin: 0;
  padding: 0px;
  cursor: url("../assets/level0/cursor.png") 16 16, default;
}

@font-face {
  font-family: font1;
  src: url('../assets/fonts/pixcyrFixed.ttf');
}

@font-face {
  font-family: font2;
  src: url('../assets/fonts/Uni0553fx.ttf');
}
